https://pynative.com/python-basic-exercise-for-beginners/

# Librairies

In [82]:
import pandas as pd
import numpy as np
import datetime
import random

ModuleNotFoundError: No module named 'pandas'

# Basic Exercices

## Variable

In [1]:
# Change only x to make it True !
x = 26
y = 12

x + y / 2 + 20 * -1 == 12

True

In [2]:
x

26

## Cast

In [10]:
# Write a sentance only with those variables

string_1 = 'The number '
int_1 = 10
string_2 = ' scores'
output_str = string_1 + str(int_1)+ string_2

## code ##

output_str

'The number 10 scores'

## Lists

In [14]:
# find the most high values

my_list = [1, 2, 3, 10]
ouput = max(my_list)
#output = min(my_list)*max(my_list)
## code ##

ouput

10

## Strings

In [25]:
# Remove Vowels from a String
def anti_vowel(c):
    newstr = c
    vowels = ('a', 'e', 'i', 'o', 'u')
    for x in c.lower():
        if x in vowels:
            newstr = newstr.replace(x,"")
    return newstr

input_str = "candies are my best friends"
vowels = "aeiouAEIOU"
output_str = anti_vowel(input_str)

output_str

'cnds r my bst frnds'

## Datetime package

In [44]:
# Display "NIGHT FEVER !" if one of thoses dates is a Sunday else "..."
import datetime

my_dates = [
    datetime.datetime(2020, 1, 1),
    datetime.datetime(2020, 4, 12),
    datetime.datetime(2020, 3, 9),
    datetime.datetime(2020, 8, 3),
]
text = "NIGHT FEVER"    
for date in my_dates:
    print(date)
    if date.weekday() == 6:
        print(text)

2020-01-01 00:00:00
2020-04-12 00:00:00
NIGHT FEVER
2020-03-09 00:00:00
2020-08-03 00:00:00

## Dictionaries

In [135]:
input_dictionary = {
    'Housem': 12,
    'Alexandre': 9,
    'Lucas': 11,
    'Dani': 8,
}

input_dictionary

{'Housem': 12, 'Alexandre': 9, 'Lucas': 11, 'Dani': 8}

In [55]:
# How many candies those Kids have ?
input_dictionary = {
    'Housem': 10,
    'Alexandre': 9,
    'Lucas': 11,
    'Dani': 8,
}
sum = 0
for k, v in input_dictionary.items():
       sum += v
output_candies = sum

output_candies

38

## Functions

In [139]:
## Who has the most candies ?

def get_kids_having_the_most_candies(input_dictionary):
    return 0

input_dictionary = {
    'Housem': 12,
    'Alexandre': 9,
    'Lucas': 11,
    'Dani': 8,
}

get_kids_having_the_most_candies(input_dictionary)

'Housem'

In [64]:
## Who has a pair number of candies ?

def get_kids_having_pair_number_candies(input_dictionary):
    for k, v in input_dictionary.items():
        if v % 2 == 0: 
            print(k,v)
    return 0

input_dictionary = {
    'Housem': 12,
    'Alexandre': 9,
    'Lucas': 11,
    'Dani': 8,
}

get_kids_having_pair_number_candies(input_dictionary)

Housem 12
Dani 8

0

In [74]:
## Who has too much candies ?

def get_kids_having_too_much_candies(input_dictionary, too_much_value):
    #maximum = max(input_dictionary.items())
    #print(maximum)
    for k, v in input_dictionary.items():
        if v > too_much_value:
            print (k)

input_dictionary = {
    'Housem': 10,
    'Alexandre': 9,
    'Lucas': 11,
    'Dani': 8,
}

too_much_value = 9
get_kids_having_too_much_candies(input_dictionary, too_much_value)
#done

Housem
Lucas

In [163]:
# find the most recurrent element
import pandas as pd
import random

def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency > counter):
            counter = curr_frequency
            num = i
 
    return num

my_list = [1, 1, 3, 2, 7, 8, 10, 10, 10]
random_list = [random.randint(0, 10) for i in range(10000)]

#print(most_frequent(my_list))
#print(most_frequent(random_list))
print(pd.Series(random_list).value_counter().head(1))

AttributeError: 'Series' object has no attribute 'value_counter'

## Classes

In [155]:
def get_age(birth_date):
    from datetime import date
    def age(birthdate):
        today = date.today()
        age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

In [182]:
######
# Q1 #
######
# Create a class Physician with 4 attributes you could guess in functions of constructor
# And two other attributes churned_date and number_consultations with default values None and 0
# Use the object in order to display his name

######
# Q2 #
######
# Create 3 new physicians in your hospital (list)
# Make them consult different (random) times
# Create a function displaying the name of those who are 30 or younger

######
# Q3 #
######
# Create a method to return physician data
# How much does your hopsital earns today ?


class Physician:
    def __init__(self, name, address, birth_date, consultation_price):
        self.name = name
        self.address = address
        self.birth_date = birth_date
        self.consultation_price = consultation_price

        self.age = get_age(birth_date)
        self.churned_date = None #last day at job
        self.number_consultations = 0
    
    def has_consulted(self):
        self.number_consultations += 1
    
    def show_name(self):
        print(self.name)
        
    def is_young(self):
        if(datetime.datetime.now() - self.birth_date).days / 365 < 30:
            print(self.name)
    
    def get_data(self):
        return {
            'name': self.name,
            'consultation_price':self.consultation_price,
            'churned_date':self.churned_date,
            'number_consultations':self.number_consultations,
        }
    
dr_zidane = Physician(
    name = 'Zidane', 
    address = "Paris", 
    birth_date = datetime.datetime(1972, 7, 23),
    consultation_price = 25,
)

dr_house = Physician(
    name = 'Mr House', 
    address = "Seatle", 
    birth_date = datetime.datetime(1988, 5, 16),
    consultation_price = 32,
)

dr_grey = Physician(
    name = 'Meredith Grey', 
    address = "Seatle", 
    birth_date = datetime.datetime(1970, 3, 12),
    consultation_price = 180,
)
#1 task
#print(dr_zidane.name)a
dr_zidane.show_name()

Zidane

In [174]:
hospitals = [
    dr_zidane, dr_house, dr_grey
]

In [114]:
dr_zidane.number_consultations

0

In [123]:
dr_zidane.has_consulted()

In [124]:
dr_zidane.number_consultations

4

In [178]:
import random
#random_list = [random.randint(0, 10) for i in range(100)]

#doctor = dr_house

def docs_count_consult(doctor):
    random_numb = random.randint(0, 100)
    print(doctor.name,'will consult', random_numb, 'times')
    for i in range(random_numb):
        doctor.has_consulted()

doctor = dr_house
docs_count_consult(doctor)
print(doctor.number_consultations)

doctor = dr_grey
docs_count_consult(doctor)
print(doctor.number_consultations)

doctor = dr_zidane
docs_count_consult(doctor)
print(doctor.number_consultations)
# for doctor in hospitals:       
#     docs_count_consult(doctor)
#     print(doctor.number_consultations)

Mr House will consult 0 times
145
Meredith Grey will consult 8 times
153
Zidane will consult 2 times
147

In [176]:
dr_grey.is_young()

In [183]:
dr_grey.get_data()

{'name': 'Meredith Grey',
 'consultation_price': 180,
 'churned_date': None,
 'number_consultations': 0}

In [186]:
df = pd.DataFrame.from_records([
    doctor.get_data() for doctor in hospitals
])
df

,name,address,birth_date,consultation_price,churned_date,number_consultations
0,Zidane,Paris,1972-07-23,25,None,147
1,Mr House,Seatle,1988-05-16,32,None,145
2,Meredith Grey,Seatle,1970-03-12,180,None,153

In [194]:
df['revenues'] = df['consultation_price'] * df['number_consultations']
df

,name,address,birth_date,consultation_price,churned_date,number_consultations,revenues
0,Zidane,Paris,1972-07-23,25,None,147,3675
1,Mr House,Seatle,1988-05-16,32,None,145,4640
2,Meredith Grey,Seatle,1970-03-12,180,None,153,27540

In [196]:
hospital_revenue = df['revenues'].sum()
print('hospital revenues today was', hospital_revenue)

hospital revenues today was 35855

# First ETL

In [218]:
# Create a Doctr constructor taking as argument a registration form with same template as
# 'Mr Pierre - birthdate 1981/07/26 - 18 rue de pont neuf 06008'
# And default attributes gender, name, birthdate, address, consultation_price, number_consultation
# Create a data_extracting_method to assign for each argument data from registration_form
# In data_extracting_method, set random consultation_price between 50 and 100 
# Create a method has_just_consulted which increase by 1 the number_consultation attribute
# Create a method return_data_cleaned which return a dictionnary of doctor attributes
# Create 4 physicians and make them consult a random number of times
# Use return_data_cleaned to create a hospital dataframe 

class Doctor():
    def __init__(self, registration_form):
        self.registration_form = registration_form
        self.gender = None
        self.name = None
        self.birthday = None
        self.number_consultations = 0
        adress = None
       
    def data_extracting(self):
        self.gender = 'M' if self.registration_form.split(' ')[0] == 'Mr' else 'F'
        self.name = self.registration_form.split(' ')[1]
        self.brthdate = self.registration_form.split('-')[1].split(' ')[2]
        self.adress = self.registration_form.split('-')[-1]
        
    def set_counsultatiom_price(self, new_price):    
        self.counsultatiom_price = new_price
        
    def return_data_cleaned(self):
        return {
            'name':self.name,
            'gender':self.gender,
            'adress':self.adress,
            'counsultatiom_price':self.counsultatiom_price,
            'number_consultations':self.number_consultations
        }
        
    def has_consulted(self):
        self.number_consultations += 1
        
dr_macron = Doctor(
    registration_form = 'Mr Macron - birthdate 1981/07/26 - 18 rue de pont neuf 06008'
)  
dr_macron.data_extracting()
dr_macron.set_counsultatiom_price(25)
dr_macron.has_consulted
dr_macron.return_data_cleaned()
# dr_macron.registration_form
# dr_macron.gender

{'name': 'Macron',
 'gender': 'M',
 'adress': ' 18 rue de pont neuf 06008',
 'counsultatiom_price': 25,
 'number_consultations': 0}

In [219]:
dr_macron.to_excel('cleaned_data.xlsx', index = False)

AttributeError: 'Doctor' object has no attribute 'to_excel'

In [216]:
#TASK
# create for busines works with class present numbers who see
# at leats 5 client

# Go Further

https://leetcode.com/problemset/algorithms/